*~
.pmd
.checkstyle
.classpath
.externalToolBuilders
.idea
.metadata
.pmdruleset.xml
.project
.settings
target-eclipse
target
*.iml
.DS_Store
dependency-reduced-pom.xml
service.json
service.version.json
